[Unit]
Description=Runs recordara-sync every hour

[Timer]
# Time to wait after booting before we run first time
OnBootSec=10min
# Time between running each consecutive time
OnUnitActiveSec=1d
Unit=recordara-sync.service

[Install]
WantedBy=multi-user.target
